@media (min-width: 576px) and (max-width: 992px) {
  .header {
    width: 576px;
    -ms-grid-columns: 549px 27px;
    grid-template-columns: 549px 27px;
  }
  .each_burger_span {
    margin: 0;
  }
  /*contacts*/

  .wrap_low_map {
    height: 322px;
    background: aliceblue;
    position: relative;
    top: -161px;
    width: 576px;
    overflow: hidden;
  }
  .contsct_planchet {
    margin-bottom: 20px;
  }
  .wrap_low_links_contact {
    margin-top: 25px;
  }
  .contact_mail {
    height: 83px;
  }
  .contact {
    width: 576px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    height: 807px;
  }
  .navbar_style {
    font-size: 18px;
  }
  .wrap_social_contacts_links > img {
    width: 30px;
    grid-gap: 20px;
  }
  .navbar {
    width: 576px;
  }
  #tele_low {
    width: 37px;
  }
  .contact_title {
    font-size: 30px;
    line-height: 48px;
  }
  .contact_info {
    line-height: 29px;
    font-size: 18px;
  }
  .wrap_social_contacts {
    top: -68px;
    grid-gap: 20px;
  }

  /*---*/

  .detailed_txt {
    font-size: 16px;
    line-height: 29px;
  }
  .screen2,
  .screen3 {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  #discuss_button2 {
    top: -10px;
    left: 0;
  }
  .wrap_fone2 {
    grid-gap: 6px;
  }
  .wrap_fone {
    margin: 0;
  }
  .discuss_button2 {
    width: 320px;
    height: 79px;
    font-size: 18px;
    top: -25px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .project_title2 {
    font-size: 40px;
    margin-bottom: 40px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }
  .spec_city_title {
    font-size: 40px;
    margin-bottom: 67px;
    margin-top: 33px;
  }
  #detailed_link {
    font-size: 18px;
    line-height: 29px;
    width: 100px;
    padding-bottom: 10px;
  }
  .detailed {
    width: 611px;
  }
  .discuss_button {
    width: 576px;
    font-size: 18px;
    margin-bottom: 59px;
    height: 70px;
  }
  .wrap_screen {
    background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0)),
      color-stop(221.27%, rgba(0, 0, 0, 0.7))
    );
    background: -o-linear-gradient(
      top,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 221.27%
    );
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 0.7) 221.27%
    );
    margin-top: 0px;
  }
  .hideMobile {
    display: none;
  }
  .screen_imgs1 {
    height: 274px;
  }
  .wrap_fone4 {
    -ms-grid-columns: 1fr 6px 1fr 6px 1fr 6px 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 576px;
    grid-gap: 6px;
  }
  .screenFourDiscuss {
    margin-top: 18px;
  }
  .screen_special {
    width: 576px;
  }
  .project_title_special {
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 14px;
    margin-top: 46px;
  }
  .project_title_special_below {
    font-size: 24px;
    line-height: 31px;
    margin-bottom: 23px;
  }
  .discuss_button_special {
    width: 300px;
    height: 68px;
    font-weight: 400;
    font-size: 18px;
  }
  .wrap_screen::before {
    height: 133%;
    top: -120px;
  }
  .project_title {
    font-size: 44px;
    width: 312px;
    line-height: 52px;
    height: 300px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .wrap_cube > img {
    width: 361px;
    mix-blend-mode: exclusion;
  }
  .wrap_cube {
    margin-left: 52px;
    position: relative;
    top: -30px;
  }
  .screen1 {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 236px 1fr;
    grid-template-columns: 236px 1fr;
  }
  .wrap_partners {
    height: 380px;
    margin-bottom: 40px;
  }
  .wrap_detailed {
    margin-bottom: 66px;
  }

  .wrap_menu {
    display: none;
  }
  .screen2,
  .screen1,
  .screen3 {
    width: 576px;
  }

  .buildings {
    width: 576px;
    grid-gap: 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .top_title {
    font-size: 30px;
    line-height: 48px;
    margin: 36px 0px;
  }
  .middle_top_title {
    margin: 14px 0px !important;
  }
  .middle_low_txt {
    top: -189px !important;
  }
  .wrap_buildings {
    margin-bottom: 64px;
  }
  .low_txt {
    font-size: 18px;
    line-height: 29px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    top: -160px;
    position: relative;
  }
  .fone1 {
    width: 290%;
    height: 100%;
    top: 88px;
    left: -482px;
    z-index: -1;
    position: absolute;
    -webkit-transform: rotate(41deg);
    -ms-transform: rotate(41deg);
    transform: rotate(41deg);
    background: radial-gradient(
        38.84% 28.23% at 35.16% 48.79%,
        rgba(40, 210, 239, 0.76) 0%,
        rgba(43, 230, 227, 0) 100%
      ),
      -webkit-gradient(linear, left top, left bottom, color-stop(110.34%, #010101), color-stop(221.34%, rgba(1, 1, 1, 0)));
    background: -o-radial-gradient(
        35.16% 48.79%,
        38.84% 28.23%,
        rgba(40, 210, 239, 0.76) 0%,
        rgba(43, 230, 227, 0) 100%
      ),
      -o-linear-gradient(top, #010101 110.34%, rgba(1, 1, 1, 0) 221.34%);
    background: radial-gradient(
        38.84% 28.23% at 35.16% 48.79%,
        rgba(40, 210, 239, 0.76) 0%,
        rgba(43, 230, 227, 0) 100%
      ),
      linear-gradient(180deg, #010101 110.34%, rgba(1, 1, 1, 0) 221.34%);
  }
  #low_txt1 {
    width: 280px;
  }
  #low_txt2,
  #low_txt3 {
    width: auto;
  }
  .request {
    width: 576px;
    grid-gap: 30px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .partners {
    width: 576px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
  }
  .third_partner {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .big_title {
    font-size: 30px;
    line-height: 48px;
  }
  .req_inputs {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    font-size: 18px;
    width: 496px;
    height: 58px;
  }
  .each_req_title {
    margin-bottom: 10px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    font-size: 18px;
    line-height: 160%;
  }
  .links_foot {
    text-decoration: none;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 30px;
  }
  #req_form {
    grid-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .leave_request {
    height: auto;
  }
  .partners_links > img {
    width: 286px;
  }
  .wrap_footer {
    height: auto;
  }

  .footer-bottom {
    margin-top: -10px;
  }

  .middle_foot {
    display: -ms-grid;
    display: grid;
    height: 254px;
  }
  .each_other {
    margin: 4px 0px;
  }
  .wrap_social_media {
    grid-gap: 8px;
    margin-top: 8px;
  }
  .footer {
    width: 576px;
    -ms-grid-columns: 204px 0px 1fr;
    grid-template-columns: 204px 1fr;
    grid-gap: 0px;
  }
  .middle_foot {
    /* top: -85px !important; */
  }

  .footer-top {
    flex-direction: column;
    margin-top: 30px;
  }
  .foot_links {
    margin-bottom: 20px;
  }
  .msg_us_btn {
    width: 518px;
    font-size: 18px;
  }
  .comment_field {
    height: 240px !important;
  }
  .each_building {
    display: -ms-grid;
    display: grid;
    height: 261px;
    grid-gap: 0px 20px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .grey_link {
    margin-bottom: 7px;
    font-size: 18px;
  }
  .each_other,
  .each_address {
    font-size: 18px;
    line-height: 28px;
  }
  .big_title_main {
    font-size: 30px;
    line-height: 48px;
    margin-bottom: 20px;
  }
  .each_building > img {
    width: 278px;
    height: 250px;
  }
  .wrap_partners {
    padding-bottom: 0;
  }
  .wrap_request {
    height: 1300px;
  }
  .leave_request,
  .msg_us {
    padding: 40px 40px;
  }
  .msg_us {
    height: 292px;
  }
  .footer > img {
    width: 129px;
  }
  #req_btn {
    margin-top: 20px;
    width: 518px;
    height: 70px;
    font-size: 18px;
  }
  #logo {
    width: 213px;
  }
  .showPlanchetAddress {
    display: block;
  }
  .showDesctopAddress {
    display: none;
  }
  /*news*/
  #project_title,
  .news_inside {
    width: 576px;
  }
  .news_inside {
    grid-gap: 30px;
  }
  .navbar_style {
    font-size: 18px;
  }
  .wrap_allNews {
    grid-gap: 0px 30px;
    overflow: scroll;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
    grid-template-columns: repeat(4, 1fr);
    width: 1000px;
  }
  .planchHidden {
    display: none;
  }
  .spec_about_title {
    margin-top: 42px !important;
    width: 576px !important;
    font-size: 40px;
  }
  #project_title {
    margin-bottom: 0px;
    margin-top: 10px;
    width: 802px;
    grid-column: 2 / 3;
  }
  .date_style {
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
    margin: 0;
  }
  .wrap_each_news {
    -ms-grid-columns: 178px 20px 1fr;
    grid-template-columns: 178px 1fr;
    width: 576px;
    height: 187px;
    grid-gap: 0px 20px;
  }
  .each_news_img {
    height: 100%;
  }
  .wrap_buildings_inside {
    margin-top: 30px;
    margin-bottom: 90px;
  }
  .choosenCategory {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
  }
  #choosenAllCategory {
    grid-column: 1 / 8;
    background-image: none !important;
    margin: 18px 0px !important;
  }
  .wrap_each_news_img {
    margin: 0;
    position: relative;
    overflow: hidden;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1 / 3;
  }
  .title_of_news,
  .description_of_news,
  .date_style,
  .choosenCategory {
    font-size: 18px;
    line-height: 25px;
  }
  .description_of_news {
    width: auto;
    height: 100px;
    overflow: hidden;
  }
  .each_category,
  .each_categoryNews {
    font-size: 18px;
    line-height: 29px;
    margin-top: 0;
  }
  /*---*/

  /*vacancy*/
  .contentVacancy {
    width: 576px;
    grid-gap: 0px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .main_txt {
    margin: 18px 0px;
  }
  .txt_about1Title {
    font-size: 40px;
    line-height: 70px;
    margin-top: 10px;
  }
  .wrap_txtVacs {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .spec_data_style {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .wrap_contentVacancy {
    margin-bottom: 70px;
  }
  .descr_of_vacs {
    font-size: 40px;
    margin-top: 35px;
  }
  .txt_vacancy,
  .bold_vacancy {
    font-size: 18px;
    line-height: 29px;
  }
  /*---*/

  /*projects*/
  .buildings_inside {
    grid-gap: 20px;
    width: 576px;
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .wrap_each_object {
    height: 360px;
  }
  #project_spec_txt {
    margin: 0 !important;
  }
  #project_spec {
    margin-top: 33px !important;
  }
  #inputSearch {
    top: 18px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    height: 0px;
    margin: 7px 0px 23px;
    position: relative;
    left: 224px;
  }
  .wrap_each_object > img {
    height: 360px;
  }
  .wrap_allCategory {
    gap: 37px;
    margin-top: 23px;
    width: 1300px;
    flex-wrap: inherit;
  }
  .aboutProject {
    width: 800px;
    overflow: scroll;
    padding-left: 224px;
    display: block;
    grid-column: 1 / 3;
  }
  .aboutProject::-webkit-scrollbar {
    width: 0;
  }
  .wrap_each_object:hover > .each_project_img {
    height: 300px !important;
    width: 105%;
  }
  .common_titleObject,
  .common_addressObject {
    font-size: 18px;
    line-height: 25px;
  }
  .wrap_each_object:hover > .wrap_objectInfo {
    bottom: 0px;
  }
  /*---*/

  /*about*/
  .about_title {
    font-size: 40px;
    line-height: 140%;
    width: 576px;
    margin-bottom: 40px;
  }
  .wrap_belowScreen {
    margin-top: 60px;
  }
  .aboutScreen > img {
    height: 386px;
  }
  .belowScreen {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 35px;
  }
  .hiddenImgs {
    display: none;
  }
  #spec_four {
    margin-top: 10px;
  }
  .wrap_years {
    position: relative;
    top: -20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr) [2];
    grid-template-columns: repeat(2, 1fr);
  }
  .txt_aboutBold,
  .txt_about1 {
    font-size: 18px;
    line-height: 25px;
  }
  .txt_about2 {
    font-size: 18px;
    line-height: 28px;
  }
  .txt_aboutBold {
    width: 576px;
  }
  .project_txt1 {
    width: 544px;
  }
  .txt_aboutBold {
    margin-bottom: 20px;
  }
  .wrap_img_aboutCulture {
    grid-gap: 17px;
    margin-top: 100px;
    -ms-grid-columns: 1fr 17px 1fr 17px 1fr 17px 1fr;
    grid-template-columns: repeat(4, 1fr);
  }
  .aboutCulture,
  .below_culture,
  .wrap_img_aboutCulture,
  .aboutChooseUs,
  #fone1_us,
  .teamBlock,
  .vacancies,
  .aboutScreen,
  .belowScreen {
    width: 576px;
  }
  .teamBlock {
    grid-gap: 12px 21px;
    -ms-grid-columns: 1fr 21px 1fr;
    grid-template-columns: repeat(2, 1fr);
  }
  .below_culture {
    margin-top: 45px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 0px;
  }
  .name_of,
  .lastname_of {
    font-size: 18px;
    line-height: 25px;
  }
  #team_spec_title {
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 2 !important;
    grid-column: 1 / 3 !important;
  }
  .foto1 {
    height: 383px;
  }
  .wrap_teamBlock {
    margin-top: 25px;
  }
  .wrap_vacancies {
    margin-top: 60px;
    margin-bottom: 120px;
  }
  .date_vacancy {
    font-size: 18px;
    line-height: 37px;
  }
  .each_vacancy {
    width: 512px;
    height: 100px;
  }
  .second_title {
    font-size: 45px !important;
    line-height: 72px !important;
  }
  .first_title {
    margin-bottom: 0px;
    -ms-grid-column: 1 !important;
    -ms-grid-column-span: 1 !important;
    grid-column: 1 / 2 !important;
    font-size: 40px !important;
    line-height: 70px !important;
  }
  .spec_txt_about {
    width: auto;
  }
  .spec_txt_about3 {
    line-height: 28px;
    margin: 10px 0px;
  }
  .wrap_img_aboutChooseUs {
    margin-top: 70px;
  }
  /*---*/

  /*projects*/
  .allPhotos {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    width: 576px;
  }
  .projectDescr {
    width: 576px;
    grid-gap: 0px 20px;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .bottom_grey {
    width: auto;
  }
  .descr_of_project {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1 / 2;
  }
  .first_photo_project {
    width: 576px !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-column: 1 / 4;
  }
  .each_photo_project {
    width: 178px;
    height: 103px;
  }
  #txt_about1TitleId {
    width: 543px;
  }
  #spec_data_style {
    -webkit-box-align: start !important;
    -ms-flex-align: start !important;
    align-items: start !important;
    -webkit-box-pack: start !important;
    -ms-flex-pack: start !important;
    justify-content: start !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 40px;
  }
  .wrap_allImages {
    width: 576px;
    grid-gap: 30px 20px;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: repeat(3, 1fr);
  }
  /*---*/

  .burger {
    display: -ms-grid;
    display: grid;
    margin: 29px 0px;
    cursor: pointer;
  }
  .burgerMobile {
    display: -ms-grid;
    display: grid;
    position: absolute;
    right: 0;
    top: 30px;
  }
  .wrap_mobile_Elements {
    position: relative;
  }
  .leftRotate {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: relative;
    top: 2px;
  }
  .rightRotate {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: relative;
    top: -6px;
  }
  .fixedHeader {
    position: fixed;
    top: 0;
  }
  /*mobile_menu*/
  .wrap_mobileMenu {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 674px;
    background: radial-gradient(
          92.96% 63.59% at 50% 122.68%,
          rgba(43, 230, 227, 0.56) 0%,
          rgba(43, 230, 227, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      -webkit-gradient(linear, left top, left bottom, color-stop(110.34%, #010101), color-stop(221.34%, rgba(1, 1, 1, 0)));
    background: -o-radial-gradient(
          50% 122.68%,
          92.96% 63.59%,
          rgba(43, 230, 227, 0.56) 0%,
          rgba(43, 230, 227, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      -o-linear-gradient(top, #010101 110.34%, rgba(1, 1, 1, 0) 221.34%);
    background: radial-gradient(
          92.96% 63.59% at 50% 122.68%,
          rgba(43, 230, 227, 0.56) 0%,
          rgba(43, 230, 227, 0) 100%
        )
        /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */,
      linear-gradient(180deg, #010101 110.34%, rgba(1, 1, 1, 0) 221.34%);
    position: fixed;
    left: 0;
  }
  .mobile_menu {
    width: 576px;
  }
  .mobile_menu_links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 92px;
    position: relative;
    top: 120px;
  }
  .white_line {
    width: 576px;
    border: 1px solid #ffffff;
    height: 0px;
    position: relative;
    top: 178px;
  }

  .foot_links_mobile {
    position: relative;
    margin-bottom: -56px;
    top: 0;
  }
  .middle_foot_mobile {
    top: 0 !important;
    left: 148px;
    display: -ms-grid;
    display: grid;
    height: 238px;
    position: relative;
  }
  .wrap_footer_mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 366px;
    position: relative;
    padding-top: 60px;
    position: relative;
    top: 143px;
  }
  .contacts_mobile {
    top: -21px;
  }
  .mobile_logo_mobile {
    display: block;
    margin: 0;
    position: absolute;
  }
  /*---*/

  .wrap_trick {
    width: 800px;
    overflow: scroll;
    padding-left: 224px;
    display: block;
    grid-column: 1 / 3;
  }
  .inside_trick {
    width: 967px;
  }

  .nested_wrap_aboutProject {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 517px;
    grid-template-columns: 225px 1fr;
  }
}
