@media (min-width: 992px) and (max-width: 1290px) {
  .header {
    width: 992px;
    -ms-grid-columns: 472px 520px;
    grid-template-columns: 472px 520px;
 }

 .wrap_low_map {
     height: 643px;
     background: aliceblue;
     position: relative;
     top: -6px;
     width: 568px;
     overflow: hidden;
 }
 .contact {
    width: 992px;
    -ms-grid-columns: 1fr 568px;
    grid-template-columns: 1fr 568px;
    height: 800px;
}
.navbar {
    width: 992px;
}
.contact_title {
  font-size: 45px;
  line-height: 72px;
}
.contact_info {
  line-height: 48px;
  font-size: 30px;
}
.wrap_social_contacts {
      top: -149px;
}

 .detailed_txt {
     font-size: 30px;
     line-height: 48px;
 }
 #detailed_link {
   font-size: 30px;
   line-height: 48px;
   width: 169px;
 }
 .wrap_fone2 {
   grid-gap: 6px;
 }
 .screen_special {
   width: 992px;
 }
 .discuss_button_special {
   height: 83px;
   font-size: 22px;
 }
 .project_title_special {
    font-size: 60px;
    line-height: 72px;
 }
 .detailed {
     width: 992px;
 }
 .discuss_button {
   width: 992px;
   font-size: 22px;
   margin: 59px 0px;
 }
 .project_title_special_below {
    font-size: 34px;
    line-height: 42px;
    margin-bottom: 40px;
 }
 .wrap_screen {
       background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), color-stop(221.27%, rgba(0, 0, 0, 0.7)));
       background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 221.27%);
       background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 221.27%);
 }
 .wrap_fone4 {
    margin-bottom: 45px;
    width: 972px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr 11px 1fr;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 11px;
}
 .wrap_screen::before {
   height: 119%;
   top: -120px;
 }
 .project_title {
     font-size: 76px;
     width: 593px;
 }
 .wrap_cube > img {
       width: 590px;
       mix-blend-mode: exclusion;
 }
 .wrap_cube {
       margin-left: 52px;
 }
 .screen1 {
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 472px 1fr;
     grid-template-columns: 472px 1fr;
 }
 .wrap_partners {
       padding-bottom: 0;
       height: 474px;
 }
 .wrap_detailed {
     margin-bottom: 90px;
 }

   .wrap_menu {
     display: -webkit-box;
     display: -ms-flexbox;
     display: flex;
     gap: 50px;
     position: relative;
     top: -10px;
   }
   .screen2, .screen1, .screen3 {
     width: 992px;
   }
   .screen2, .screen3 {
      -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
   }
   #discuss_button2 {
    top: -19px;
    left: 0;
}
   .discuss_button2 {
         width: 413px;
         height: 79px;
         font-size: 22px;
         top: -25px;
         -ms-grid-column: 1;
         -ms-grid-column-span: 1;
         grid-column: 1 / 2;
   }
   .project_title2 {
     font-size: 60px;
     line-height: 120%;
   }
   .buildings {
     width: 992px;
     grid-gap: 20px;
   }
   .top_title {
     font-size: 45px;
     line-height: 72px;
   }
   .low_txt {
     font-size: 18px;
     line-height: 29px;
   }
   .fone1 {
      top: -125px;
      left: -574px;
   }
   #low_txt1 {
     width: 306px;
   }
   #low_txt2, #low_txt3 {
     width: auto;
 }
 .request {
     width: 992px;
     grid-gap: 20px;
 }
 .partners {
     width: 992px;
     display: -ms-grid;
     display: grid;
     -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
     grid-template-columns: repeat(4, 1fr);
     grid-gap: 40px 20px;
 }
 .big_title {
   font-size: 45px;
 }
 .req_inputs {
       -ms-grid-column: 1;
       -ms-grid-column-span: 2;
       grid-column: 1 / 3;
       font-size: 18px;
       width: 384px;
       height: 58px;
 }
 .each_req_title {
   margin-bottom: 10px;
   -ms-grid-column: 1;
   -ms-grid-column-span: 2;
   grid-column: 1 / 3;
   font-size: 18px;
   line-height: 160%;
 }
 .links_foot {
     text-decoration: none;
     -ms-grid-column: 1;
     -ms-grid-column-span: 2;
     grid-column: 1 / 3;
     margin-top: 30px;
 }
 #req_form {
       grid-gap: 0px;
       -ms-grid-columns: 1fr;
       grid-template-columns: 1fr;
 }
 .leave_request {
     height: auto;
 }
 .partners_links > img {
     width: 234px;
 }
 .wrap_footer {
   height: 340px;
 }
 .middle_foot {
     display: -ms-grid;
     display: grid;
     height: 254px;
 }
 .footer {
   width: 992px;
   -ms-grid-columns: 287px 50px 212px 50px 125px 50px 220px;
   grid-template-columns: 287px 212px 125px 220px;
   grid-gap: 50px;
 }
 .msg_us_btn {
   width: 406px;
 }
 .comment_field {
    height: 240px !important;
}
 .each_building {
   display: block;
 }
 .grey_link {
       margin-bottom: 7px;
 }
 .each_other, .each_address {
   font-size: 18px;
   line-height: 28px;
 }
 .big_title_main {
     font-size: 45px;
     line-height: 72px;
 }
 .wrap_partners {
       padding-bottom: 0;
 }
 .wrap_request {
       height: 977px;
 }
 .leave_request, .msg_us {
     padding: 40px 40px;
 }
 .msg_us {
     height: 292px;
 }
 #req_btn {
     margin-top: 20px;
     width: 406px;
 }
 /*news*/
 .aboutProject, #project_title, .news_inside {
   width: 992px;
 }
 .news_inside {
    grid-gap: 30px;
 }
 .navbar_style {
   font-size: 18px;
 }
 .wrap_allNews {
    grid-gap: 0px 50px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr 50px 1fr;
    grid-template-columns: repeat(6, 1fr);
    width: 1564px;
 }
 .planchHidden {
   display: none;
 }
 .spec_about_title {
     margin: 0 !important;
     width: 992px !important;
     font-size: 60px;
 }
 #project_title {
   margin-bottom: 30px;
   margin-top: 20px;
   width: 992px;
 }
 .wrap_each_news {
   -ms-grid-columns: 232px 568px 1fr;
   grid-template-columns: 232px 568px 1fr;
   width: 992px;
 }
 .wrap_buildings_inside {
    margin-top: 16px;
 }
 .choosenCategory {
    margin-top: 0px;
    margin-bottom: 0px;
    position: relative;
 }
 #choosenAllCategory {
   grid-column: 1 / 8;
   background-image: none !important;
   margin-top: 0px;
   margin-bottom: 18px !important;
 }
 .wrap_each_news_img {
    margin: 0;
    position: relative;
    overflow: hidden;
 }
 .title_of_news, .description_of_news, .date_style, .choosenCategory {
   font-size: 18px;
   line-height: 25px;
 }
 .description_of_news {
   width: auto;
   overflow: hidden;
 }
 .each_category, .each_categoryNews {
   font-size: 18px;
   line-height: 29px;
   margin-top: 0;
 }
 /*---*/

 /*vacancy*/
 .contentVacancy {
   width: 992px;
 }
 .txt_about1Title {
     font-size: 60px;
     line-height: 140%;
     margin-top: 10px;
 }
 .descr_of_vacs {
     font-size: 45px;
 }
 .txt_vacancy, .bold_vacancy {
     font-size: 18px;
     line-height: 29px;
 }
 /*---*/

 /*projects*/
 .buildings_inside {
   grid-gap: 20px;
   width: 992px;
   -ms-grid-columns: 1fr 20px 1fr 20px 1fr 20px 1fr;
   grid-template-columns: repeat(4, 1fr);
 }
 .wrap_each_object {
   height: 360px;
 }
 #inputSearch {
   width: 930px;
   top: 0;
   -ms-grid-column: 1;
   -ms-grid-column-span: 2;
   grid-column: 1 / 3;
   height: 0px;
 }
 .wrap_each_object > img {
   height: 360px;
 }
 .wrap_allCategory {
   gap: 25px;
   margin-top: 23px;
 }
 .aboutProject {

 }
 .wrap_each_object:hover > .each_project_img {
   height: 300px !important;
   width: 105%;
 }
 .common_titleObject, .common_addressObject {
   font-size: 18px;
   line-height: 25px;
 }
 .wrap_each_object:hover > .wrap_objectInfo {
   bottom: -2px;
 }
 /*---*/

 /*about*/
 .about_title {
     font-size: 60px;
     line-height: 84px;
     width: 744px;
     margin-bottom: 40px;
 }
 .wrap_belowScreen {
     margin-top: 60px;
 }
 .aboutScreen > img {
   height: 653px;
 }
 .aboutScreen, .belowScreen {
   width: 992px;
 }
 .belowScreen {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    grid-gap: 50px;
 }
 #spec_four {
    margin-top: 10px;
}
 .wrap_years {
   position: relative;
   top: -20px;
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 370px 1fr;
   grid-template-columns: 370px 1fr;
 }
 .txt_aboutBold, .txt_about2, .txt_about1 {
   font-size: 18px;
   line-height: 25px;
 }
 .txt_aboutBold {
   width: 833px;
 }
 .project_txt1 {
   width: 777px;
 }
  .txt_aboutBold {
  margin-bottom: 20px;
}
.wrap_img_aboutCulture {
      grid-gap: 17px;
      margin-top: 100px;
}
 .aboutCulture, .below_culture, .wrap_img_aboutCulture, .aboutChooseUs,
 #fone1_us, .teamBlock, .vacancies {
   width: 992px;
 }
 .teamBlock {
       grid-gap: 12px 30px;
 }
 .below_culture {
       margin-top: 45px;
       -ms-grid-columns: 1fr;
       grid-template-columns: 1fr;
       grid-gap: 0px;
 }
 .name_of, .lastname_of {
   font-size: 18px;
   line-height: 25px;
 }
 #team_spec_title {
   -ms-grid-column: 1 !important;
   -ms-grid-column-span: 3 !important;
   grid-column: 1 / 4 !important;
 }
 .foto1 {
   height: 383px;
 }
 .wrap_teamBlock {
     margin-top: 25px;
 }
 .wrap_vacancies {
   margin-top: 60px;
   margin-bottom: 120px;
 }
 .date_vacancy {
   font-size: 18px;
   line-height: 37px;
 }
 .each_vacancy {
   width: 928px;
   height: 100px;
 }
 .second_title {
   font-size: 45px !important;
   line-height: 72px !important;
 }
 .first_title {
     margin-bottom: 0px;
     -ms-grid-column: 1 !important;
     -ms-grid-column-span: 1 !important;
     grid-column: 1 / 2 !important;
     font-size: 45px !important;
     line-height: 72px !important;
 }
 .spec_txt_about {
     width: auto;
 }
 .spec_txt_about3 {
   line-height: 28px;
   margin: 10px 0px;
 }
 .wrap_img_aboutChooseUs {
       margin-top: 70px;
 }
 /*---*/

 /*projects*/
 .allPhotos {
   -ms-grid-columns: 1fr;
   grid-template-columns: 1fr;
   width: 992px;
 }
 .projectDescr {
   width: 992px;
   grid-gap: 0px 20px;
 }
 .bottom_grey {
   width: auto;
 }
 .first_photo_project {
   width: 992px !important;
 }
 .each_photo_project {
   width: 148px;
 }

 #spec_data_style {
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: start !important;
    -webkit-box-pack: start !important;
        -ms-flex-pack: start !important;
            justify-content: start !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
    margin-top: 40px;
 }
 .wrap_allImages {
   width: 992px;
   grid-gap: 30px 20px;
 }
 /*---*/

 .nested_wrap_aboutProject {
    width: 992px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 517px;
    grid-template-columns: 870px 1fr;
}
}
