.aboutProject {
  width: 1935px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 517px;
  grid-template-columns: 1fr 517px;
}
#inputSearch {
  padding: 30px;
  height: 20px;
  width: 457px;
  border: 1px solid #888888;
  border-radius: 15px;
  color: #010101;
  font-size: 22px;
  line-height: 160%;
  cursor: pointer;
  position: relative;
  top: 119px;
}
#project_title {
  margin-bottom: 30px;
  margin-top: 20px;
}
.wrap_allCategory {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 133px;
}
.wrap_allNews {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 124px;
}
.each_category,
.each_categoryNews {
  font-size: 22px;
  line-height: 160%;
  color: #888888;
  cursor: pointer;
}
.choosenCategory {
  color: #010101;
  font-size: 22px;
  background: none !important;
  line-height: 140%;
  font-family: "Inter-Bold";
}
.spec_about_title {
  margin: 0 !important;
  width: 1408px !important;
}
.buildings_inside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 30px 1fr 30px 1fr 30px 1fr;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  width: 1920px;
}
.news_inside {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  grid-gap: 0px;
  width: 1920px;
}
.wrap_each_news {
  -ms-grid-columns: 400px 30px 1010px 30px 1fr;
  grid-template-columns: 400px 1010px 1fr;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  cursor: pointer;
  text-decoration: none;
  width: 1920px;
}
.common_addressObject {
  font-size: 20px;
  line-height: 160%;
  color: #010101;
  margin: 0;
}
.common_titleObject {
  font-size: 20px;
  line-height: 160%;
  color: #888888;
  margin: 0;
}
.wrap_each_object {
  display: -ms-grid;
  display: grid;
  height: 600px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.wrap_objectInfo {
  display: -ms-grid;
  display: grid;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  position: absolute;
  bottom: -90px;
}
.wrap_aboutProject {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrap_each_object > img {
  width: 117%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1;
  height: 600px;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  filter: grayscale(100%);
  transition: all 0.5s;
}

.wrap_each_object > img:hover {
  filter: grayscale(0%);
  transition: all 0.5s;
}

.wrap_buildings_inside {
  margin-top: 30px;
  margin-bottom: 120px;
}
.wrap_each_object:hover > .each_project_img {
  height: 515px !important;
  width: 105%;
}
.wrap_each_object:hover > .wrap_objectInfo {
  bottom: 0px;
}
.dispNone {
  display: none;
}
.title_of_news {
  font-size: 22px;
  line-height: 140%;
  font-family: "Inter-Bold";
}
.description_of_news {
  font-size: 22px;
  line-height: 140%;
  width: 1074px;
}
.date_style {
  font-size: 22px;
  line-height: 160%;
  color: #888888;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.title_of_news,
.description_of_news {
  margin: 0;
  color: black;
}
.wrap_description_of_news {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column;
  flex-flow: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.wrap_contentVacancy {
  margin-top: 10px;
  margin-bottom: 120px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.contentVacancy {
  display: -ms-grid;
  display: grid;
  grid-gap: 0px 183px;
  width: 1920px;
  position: relative;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.spec_descr {
  margin: 10px 0px !important;
}
.contentVacancy > img {
  width: 100%;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  margin-top: 30px;
}
.wrap_txtVacs {
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  margin: 10px 0px;
}
.main_txt {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}
.descr_of_vacs {
  font-size: 55px;
  font-family: "Oswald-Bold";
  line-height: 160%;
  margin-bottom: 12px;
}
.txt_vacancy,
.bold_vacancy {
  font-size: 22px;
  line-height: 160%;
  margin: 0;
}
.txt_vacancy {
  margin-bottom: 20px;
}
.bold_vacancy {
  font-family: "Inter-Bold";
  font-weight: 600;
}
.contentVacancy {
  display: -ms-grid;
  display: grid;
  width: 1920px;
  position: relative;
  -ms-grid-columns: 1fr 20px 1fr;
  grid-template-columns: repeat(2, 1fr);
}
.spec_data_style {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: end;
  margin: 6px 0px;
}
