@font-face {
	font-family: 'Inter-Regular';
	src: url('../../fonts/Inter-Regular.eot');
	src: url('../../fonts/Inter-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Inter-Regular.woff') format('woff'),
	url('../../fonts/Inter-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Inter-Bold';
	src: url('../../fonts/Inter-Bold.eot');
	src: url('../../fonts/Inter-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Inter-Bold.woff') format('woff'),
	url('../../fonts/Inter-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald-Regular';
	src: url('../../fonts/Oswald-Regular.eot');
	src: url('../../fonts/Oswald-Regular.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Oswald-Regular.woff') format('woff'),
	url('../../fonts/Oswald-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Oswald-Bold';
	src: url('../../fonts/Oswald-Bold.eot');
	src: url('../../fonts/Oswald-Bold.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Oswald-Bold.woff') format('woff'),
	url('../../fonts/Oswald-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope-Medium';
	src: url('../../fonts/Manrope-Medium.eot');
	src: url('../../fonts/Manrope-Medium.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Manrope-Medium.woff') format('woff'),
	url('../../fonts/Manrope-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Manrope-Light';
	src: url('../../fonts/Manrope-Light.eot');
	src: url('../../fonts/Manrope-Light.eot?#iefix') format('embedded-opentype'),
	url('../../fonts/Manrope-Light.woff') format('woff'),
	url('../../fonts/Manrope-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
body {
  background: #010101;
  padding: 0;
  margin: 0;
  font-family: 'Inter-Regular';
}
.wrap_header {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100px;
  z-index: 11;
  align-items: center;
  margin-top: 10px;
	margin: 0;
  position: relative;
}
.header {
  width: 1920px;
  height: 100%;
  display: grid;
  grid-template-columns: 1400px 520px;
}
.menu_links {
  font-size: 22px;
  line-height: 160%;
  color: white;
  cursor: pointer;
	text-decoration: none;
	display: flex;
	align-items: center;
}
.wrap_menu {
  display: grid;
  grid-template-rows: 1fr;
  grid-gap: 50px;
  grid-template-columns: repeat(4, 1fr);
	position: relative;
	top: -10px;
}
#logo {
  margin: 22px 0px;
}
.wrap_footer {
	display: flex;
	justify-content: center;
	height: 370px;
	position: relative;
	background: #010101;
	background: radial-gradient(87.09% 253.77% at 37.33% 231.26%, #28D2EF 0%, rgba(43, 230, 227, 0.56) 25.92%, rgba(43, 230, 227, 0) 100%),
		  linear-gradient(132deg, #010101 110.34%, rgba(1, 1, 1, 0) 221.34%);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
	padding-top: 60px;
}
.showPlanchetAddress {
	display: none;
}
.showDesctopAddress {
	display: block;
}
.footer {
	display: grid;
	width: 1920px;
  grid-template-columns: 724px 341px 138px 266px;
	grid-gap: 150px;
}
.foot_links {
	position: relative;
  top: -20px;
}
.wrap_social_media {
	width: 202px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 30px
}
.wrap_vacancy_txt {
	position: relative;
	overflow: hidden;
}
.each_other, .each_address {
	font-size: 22px;
	line-height: 160%;
	color: white;
	text-decoration: none;
}
.each_address {
  margin: 2px 0px;
}
#projects_foot_title {
	margin-bottom: 0px;
}
.middle_foot {
	display: grid;
	height: 364px;
}
#tele_link {
	position: relative;
	top: -3px;
	left: -6px;
}
#whats_link {
	position: relative;
  top: -2px;
}
#phone_link {
	position: relative;
	top: -4px;
}
.grey_link {
	font-size: 22px;
	line-height: 160%;
	color: #888888;
}
.links_contact {
	text-decoration: none;
}
.wrap_request {
	width: 100%;
	height: 1080px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: url('../images/Frame 6-2.png');
	background-size: cover;
  background-repeat: no-repeat;
}
.each_req_title {
	font-size: 22px;
	line-height: 160%;
	color: white;
	grid-column: 1 / 2;
  width: 169px;
	text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
}
.msg_imgs {
	margin-right: 15px;
}
.msg_us_btn {
	border: 2px solid #FFFFFF;
	border-radius: 15px;
	width: 397.5px;
	height: 80px;
	color: white;
	font-size: 22px;
	line-height: 160%;
	display: flex;
	cursor: pointer;
	justify-content: center;
	align-items: center;
	background: transparent;
}
.big_title {
	font-size: 55px;
	line-height: 160%;
	color: white;
	margin: 0;
	grid-column: 1 / 3;
	font-family: 'Oswald-Bold';
}
.req_inputs {
	width: 555px;
  padding-left: 20px;
	height: 80px;
	cursor: pointer;
	background: #FFFFFF;
	border-radius: 10px;
	border: none;
	font-size: 22px;
	grid-column: 2 / 3;
	line-height: 160%;
}
.comment_field {
	height: 240px;
	font-family: 'Inter-Regular';
}
#req_btn {
	background: linear-gradient(81deg, #36B9FF 0.87%, #0BFFD3 109.37%);
	border-radius: 15px;
	width: 575px;
	height: 80px;
	cursor: pointer;
	display: flex;
	grid-column: 2 / 3;
	justify-content: center;
	align-items: center;
	color: black;
	font-size: 22px;
	line-height: 160%;
	border: none;
}
.request {
	width: 1920px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px;
}
.links_foot {
	text-decoration: none;
}
.leave_request, .msg_us {
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 100%);
	backdrop-filter: blur(20px);
	border-radius: 20px;
	padding: 40px 60px;
}
.leave_request {
  height: 686px;
}
#req_form {
	display: grid;
	grid-gap: 20px;
	grid-template-columns: 1fr 575px;
}
.msg_us {
	height: 218px;
	display: grid;
  grid-gap: 0px 30px;
}
